<div class="background">
    <section class="container">
        <section class="side-menu">
            <section>
                <nav class="box nav-contenedor">
                    <div class="opciones-contenedor">
                        <ul>
                            <li><a>Inicio</a></li>
                            <li><a>Mis materias</a></li>
                            <li><a>Calendario</a></li>
                            <li><a>Comentarios</a></li>
                        </ul>
                    </div>
                    <div class="botones-contenedor">
                        <button>Crear Materia</button>
                    </div>
                    <div>
                        <span>
                            <a (click)="onLogout()">Salir</a>
                        </span>
                    </div>
                </nav>
            </section>
        </section>
        <section class="main-content">
            <section>
                <div class="box benef-container">
                    <h2>Materias más consultadas</h2>
                    <table>
                        <tr>
                            <th>Nombre</th>
                            <th>Consultas</th>
                            <th>Agendadas</th>
                        </tr>
                        <tr>
                            <td>
    
                                <span>Computación móvil</span>
    
                            </td>
                            <td><span>15</span></td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>
    
                                <span>Computación móvil</span>
    
                            </td>
                            <td><span>15</span></td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>
    
                                <span>Computación móvil</span>
    
                            </td>
                            <td><span>15</span></td>
                            <td>8</td>
                        </tr>
    
    
                    </table>
                </div>
                <div class="box projects-container">
                    <h2>Proximas clases</h2>
                    <table>
                        <tr>
                            <th>Nombre</th>
                            <th>Estudiante</th>
                            <th>Fecha </th>
                        </tr>
                        <tr>
                            <td>
                                <span>Sistemas Distribuidos</span>
                            </td>
                            <td>Felipe Sarmiento</td>
                            <td>27/05/2022 4:00 pm</td>
                        </tr>
                        <tr>
                            <td>
                                <span>Sistemas Distribuidos</span>
                            </td>
                            <td>Felipe Sarmiento</td>
                            <td>27/05/2022 4:00 pm</td>
                        </tr>
                        <tr>
                            <td>
                                <span>Sistemas Distribuidos</span>
                            </td>
                            <td>Felipe Sarmiento</td>
                            <td>27/05/2022 4:00 pm</td>
                        </tr>
                        <tr>
                            <td>
                                <span>Sistemas Distribuidos</span>
                            </td>
                            <td>Felipe Sarmiento</td>
                            <td>27/05/2022 4:00 pm</td>
                        </tr>
    
                    </table>
                </div>
            </section>
        </section>
    </section>
</div>
